<table class="tx-ajaxmap" >
	<tr>
		<td>
			<f:translate key="tx_ajaxmap_domain_model_place.title" />
		</td>
		<td>
			{place.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ajaxmap_domain_model_place.geo_coordinates" />
		</td>
		<td>
			{place.geoCoordinates}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ajaxmap_domain_model_place.description" />
		</td>
		<td>
			{place.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ajaxmap_domain_model_place.info" />
		</td>
		<td>
			{place.info}
		</td>
	</tr>
</table>