

<div class="am-card">
    <!-- if organisation seo -->
    <!--script type="application/ld+json">
    breaks the string?
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "Title",
            "url": "#",
            "logo": "https://via.placeholder.com//80x80"
        }
    </script!-->

    <!-- logo or profile image todo @EHO default image for profile or company-->
    <div class="am-card__img is-rounded">
        <img src="https://via.placeholder.com//80x80" alt="">
    </div>
    <div class="am-card__copy">
        <header class="am-card__copy__head">
            <h3 class="am-card__title">${title}</h3>
            <p class="am-card__subtitle">${subline}</p>
        </header>
        <p>
            ${text}
        </p>
        <footer class="am-card__copy__footer">
            <a href="#" class="am-link"> ${pageUrl}</a>
        </footer>
    </div>

    <a href="#" class="am-card__block-link js-am-jt-marker">Anchor map</a>
</div>

