

<div class="am-option-filter">
    <div class="am-form__group ">
        <label class="am-form__label " for="optionFilter">
            Filter name
        </label>

        <div class="am-form__input-container">
            <select id="optionFilter" name="optionFilter" class="am-form__input">
                <option value="" disabled="" selected="">Option wählen ...</option>
                    <option value="Option 1">Option 1</option>
                    <option value="Option 2">Option 2</option>
                    <option value="Option 3">Option 3</option>
            </select>
            <div class="am-form__select-arrow" aria-hidden="true">
                <i class="o-icon-font o-icon-font--am-arrow-down"></i>
            </div>
        </div>
    </div>
</div>

