

<!-- option filter as checkbox -->
<div class="am-option-filter">
    <div class="am-form__group ">
        <label class="am-form__label " for="optionFilter">
            Filter per radio boxes
        </label>

            <div class="am-form__tag">
                <input id="input-radio-Option 1" type="radio" name="optionFilterRadio">
                <label tabindex="0" for="input-radio-Option 1">Option 1</label>
            </div>
            <div class="am-form__tag">
                <input id="input-radio-Option 2" type="radio" name="optionFilterRadio">
                <label tabindex="0" for="input-radio-Option 2">Option 2</label>
            </div>
            <div class="am-form__tag">
                <input id="input-radio-Option 3" type="radio" name="optionFilterRadio">
                <label tabindex="0" for="input-radio-Option 3">Option 3</label>
            </div>
    </div>
</div>

