@mixin quote-box {
    display: flex;
    text-align: center;

    &:before {
        @extend .u-icon-font--quote;
        order: 3;
        margin-top: -1em;
    }


    &:after {
        margin-bottom: -1em;
        align-self: flex-end;
        content: '\E000';
        font-family: Jb1a85;
        font-weight: normal;
        order: -1;
        transform: rotate(180deg);

    }
}
