.pattern-image {
    width: 70vw;
    height: 100vh;
    position: absolute;
    bottom: 0;
    background-size: contain;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-image: url("https://www.bundesgesundheitsministerium.de/resources/public/pattern.png");

    &--gray {
        background-image: url("/resources/public/pattern_grau.png");

    }

    &--yellow {
        background-image: url("/resources/public/pattern_gelb.png");

    }

    &--white {
        background-image: url("/resources/public/pattern_weiss.png");

    }
}
