/* stylelint-disable */
// stylelint-disable: to keep it clear and structured due to color settings

/* ==========================================================================
   Form
   ========================================================================== */

// required: _settings/_settings.ui.scss
// required: _tools/mixins/_mixins.focus-outline.scss

.am-form {

    &__group {
        margin-bottom: $form-group-space-after;
    }

    &__label {
        display: block;
        font-size: .875rem;
        font-weight: 700;
    }

    &__label,
    &__checkfields {
        margin-bottom: $form-label-space-after;
    }

    /**
     * Input Container
     * use it to place icons/ buttons inside the input element
     */
    &__input-container {
        position: relative;

        .am-form__input[type='text'] {
            // avoid text to overcome icon
            padding-right: $form-field-with-icon-space-inner;
        }

        .am-form__icon,
        .am-button,
        .am-button-icon-only {
            position: absolute;
            right: .5rem;
            top: 50%;
            transform: translateY(-50%);

            span {
                font-size: 0;
                color: transparent;
            }
        }

        .am-button,
        .am-button--icon-only {
            line-height: inherit;
            padding: $form-field-space-inner-y 1em;
            right: 0;
        }
    }

    &__description {
        color: map_get($toolbox-colors, 'danger');
        font-size: .8rem;
    }

    /**
     * Input
     */
    &__input {
        border: 1px solid;
        display: block;
        font-family: inherit;
        font-size: inherit;
        max-width: 100%;
        padding: $form-field-space-inner-y $form-field-space-inner-x;
        width: 100%;

        &:not([type='checkbox']),
        &:not([type='radio']) {
            border-radius: $form-field-border-radius;
        }

        &:focus {
            box-shadow: $form-field-box-shadow;
        }

        // hide IE clear input button
        &::-ms-clear {
            display: none;
        }
    }

    &__select-arrow { // select arrow icon
        color: $form-field-icon-color;
        height: 100%;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
        width: $button-icon-only-size;

        .o-icon-font {
            @include absolute-center(50%, 50%, -50%, -50%);
            font-size: $button-icon-font-size;
            height: $button-icon-size;
            width: $button-icon-size;
        }
    }

    /**
     * Textarea
     */
    textarea {
        font-family: inherit;
        height: 10rem;
        line-height: inherit;
        width: 100% !important; // important necessary for FF
    }

    /**
     * Select
     */
    select {
        appearance: none;
        color: $form-placeholder-color;
        padding-right: $form-field-with-icon-space-inner;

        &:hover {
            cursor: pointer;
        }

        // hide default arrow in IE
        &::-ms-expand {
            display: none;
        }

        // remove Firefox dotted focusring
        &:-moz-focusring {
            color: transparent;
            text-shadow: 0 0 0 #000;
        }
    }

    /**
     * Checkbox & Radio Button
     */
    &__checkfields {
        &--inline {
            display: inline-block;
            margin-right: 2rem;
        }

        label {
            cursor: pointer;
            display: inline-block;
            margin-bottom: $form-field-check-space-after;
            padding-left: 1.5rem;
            position: relative;
            user-select: none;
        }

        input {
            @include accessibility;

            + label {
                &:before,
                &:after {
                    display: inline-block; // required for the line-height to take effect
                    position: absolute;
                }

                &:before {
                    border: 1px solid;
                    content: '';
                    height: $form-field-check-size;
                    left: 0;
                    top: alignment($form-field-check-line-height, rem, $form-field-check-size);
                    width: $form-field-check-size;
                }

                &:after {
                    // hide the checkmark by default
                    content: none;
                }
            }

            &:checked {
                // unhide on the checked state
                + label {
                    &:after {
                        content: '';
                    }
                }
            }

            // checkmark of the fake checkbox

            &[type='checkbox'] + label {
                &:after {
                    border-bottom: 2px solid;
                    border-left: 2px solid;
                    height: .3rem;
                    left: alignment($form-field-check-size, '', $form-field-check-icon-size);
                    top: alignment($form-field-check-line-height, rem, $form-field-check-icon-size);
                    transform: rotate(-45deg);
                    width: .6rem;
                }
            }

            // checkmark of the fake radio button

            &[type='radio'] + label {
                &:before,
                &:after {
                    border-radius: 50%;
                }

                &:after {
                    height: $form-field-check-icon-size;
                    left: alignment($form-field-check-size, '', $form-field-check-icon-size);
                    top: alignment($form-field-check-line-height, rem, $form-field-check-icon-size);
                    width: $form-field-check-icon-size;
                }
            }
        }
    }

    /**
     * Text
     */
    &__text {
        p:last-child {
            margin-bottom: 0;
        }
    }

    &__description,
    &__required-sign,
    &__required-text {
        display: inline-block;
    }
}

/* ==========================================================================
   Theme (Colors / Messages / Validation)
   ========================================================================== */

.am-form {
    &__legend {
        color: $form-legend-color;
    }

    &__label {
        color: $form-label-color;
    }

    /**
     * Placeholder
     */
    ::placeholder {
        color: $form-placeholder-color;
    }

    /**
     * Validation Colors
     */
    &__group {
        &.is-valid {
            .am-form__input,
            .am-form__description {
                color: $form-color-valid;
            }

            .am-form__input {
                border-color: $form-color-valid;
            }
        }

        &.is-error {
            .am-form__input,
            .am-form__description {
                color: $form-color-error;
            }

            .am-form__input,
            .am-form__checkfields input + label:before,
            .am-form__checkfields [type='checkbox'] + label:after {
                border-color: $form-color-error;
            }

            .am-form__checkfields input + label {
                color: $form-color-error;
            }

            .am-form__checkfields [type='radio'] + label:after {
                background-color: $form-color-error;
            }
        }
    }

    /**
     * Input
     */
    &__input {
        background-color: $form-field-bg-color;
        border-color: $form-field-border-color;
        color: $form-field-color;

        &:focus {
            background-color: $form-field-bg-color-focus;
            border-color: $form-field-border-color-focus;
            color: $form-field-color-focus;

            /**
             * Placeholder
             */
            &::placeholder {
                color: $form-placeholder-color-focus;
            }
        }
    }

    /**
     * Input Container
     */
    &__input-container {
        .am-form__input {
            &:focus {
                ~ .am-form__icon,
                ~ .am-button,
                ~ .am-button-icon-only {
                    color: $form-field-icon-color-focus;
                }
            }
        }

        /**
         * Icon & Button
         */
        .am-form__icon,
        .am-button,
        .am-button--icon-only {
            color: $form-field-icon-color;

            &[disabled] {
                color: $form-field-icon-color-disabled;
                pointer-events: none;
            }
        }
    }

    /**
     * Select
     */
    select {
        background-color: $form-field-bg-color;
    }

    /**
     * Checkbox & Radio Button
     */
    &__checkfields {
        input {
            + label:before {
                border-color: $form-field-border-color;
            }

            &:focus + label {
                &:before {
                    border-color: $form-field-icon-color-focus;
                    box-shadow: $form-field-box-shadow;

                    // accessible focus state
                    // class set via js
                    .accessibility-mode & {
                        @include focus-outline($focus-color);
                    }
                }
            }

            &[type='checkbox'] + label {
                &:after {
                    border-color: $form-field-check-icon-color;
                }
            }

            &[type='radio'] + label {
                &:after {
                    background-color: $form-field-check-icon-color;
                }
            }
        }
    }
}


.am-form__tag {
    display: inline-block;
    margin-right: .2rem;
    font-size: .875rem;

    input {
        display: none;
    }

    input:checked + label {
        border: 1px solid $form-field-icon-color;
        background: $form-field-icon-color;
        color: app-color('white');
        transition: all .3s ease;
    }

    label {
        border: 1px solid $form-field-border-color;
        border-radius: 2rem;
        padding: .1rem .5rem;
        transition: all .3s ease;
    }
}
