<f:layout name="Default" />

<f:section name="main">
	<f:if condition="{settings.map.debug}">
		<f:debug title="settings">{settings}</f:debug>
		<f:debug title="map">{map}</f:debug>
	</f:if>
	<f:flashMessages />
	<f:if condition="{map}">
		<f:render partial="Map/Data" arguments="{settings: settings, map: map, mapSettings: '{mapSettings}'}"/>
	</f:if>
	<div class="mapWrap">
		<div id="ajaxMapContainer_Map{map.uid}"></div>
	</div>
	<div id="placesTreeWrap">
		<input name="filterPlaces" placeholder="{f:translate(key: 'placeholder.filterPlaces')}">
		<button id="btnResetPlacesFilter" title="{f:translate(key: 'label.reset')}">&times;</button>
		<span id="matches"></span>
		<div id="ajaxMapPlacesTree{map.uid}" class="dynaTree"></div>
	</div>
	<div id="ajaxMapRegionsTree{map.uid}" class="dynaTree"></div>
	<div id="ajaxMapLocationTypesTree{map.uid}" class="dynaTree"></div>
	<div id="ajaxMapCategoryTree{map.uid}" class="dynaTree"></div>
	<div id="ajaxMapPlaceGroupTree{map.uid}" class="dynaTree">
	</div>
	<f:form name="txAjaxmapStore">
		<f:form.hidden property="mapId" value="{map.uid}" />
	</f:form>
</f:section>
