<label for="title">
	<f:translate key="tx_ajaxmap_domain_model_category.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="title" /><br />
<label for="start">
	<f:translate key="tx_ajaxmap_domain_model_category.start" />
</label><br />
	<f:form.textfield property="start"  value="{category.start->f:format.date()}" /><br />
<label for="end">
	<f:translate key="tx_ajaxmap_domain_model_category.end" />
</label><br />
	<f:form.textfield property="end"  value="{category.end->f:format.date()}" /><br />
<label for="icon">
	<f:translate key="tx_ajaxmap_domain_model_category.icon" />
</label><br />
	<f:form.upload property="icon" /><br />