$link-color: map-get($toolbox-colors, 'black');

a {
    color: $link-color;
    text-decoration: underline;

    &:hover,
    &:focus {
        text-decoration: none;
    }

    // https://24ways.org/2009/dont-lose-your-focus
    &:hover,
    &:active {
        outline: none;
    }
}
