

<!--suppress ALL (Suppresses all IDE warnings, DO NOT INCLUDE IN PRODUCTION!) -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>extension FE-builder</title>
    <!--link rel="stylesheet" href="http://localhost:2222/resources//css/main.css"-->
</head>
<body>
<!-- Start: @icon-font--arrow -->

        <div style="margin-bottom:20px;">
            <p style="margin-bottom:5px;">
                icon-font--arrow
            </p><i class="o-icon-font o-icon-font--am-arrow" aria-hidden="true"></i>
        </div>
<!-- End: @icon-font--arrow -->

<!-- Start: @icon-font--arrow-down -->

        <div style="margin-bottom:20px;">
            <p style="margin-bottom:5px;">
                icon-font--arrow-down
            </p><i class="o-icon-font o-icon-font--am-arrow-down" aria-hidden="true"></i>
        </div>
<!-- End: @icon-font--arrow-down -->

<!-- Start: @icon-font--cross -->

        <div style="margin-bottom:20px;">
            <p style="margin-bottom:5px;">
                icon-font--cross
            </p><i class="o-icon-font o-icon-font--am-cross" aria-hidden="true"></i>
        </div>
<!-- End: @icon-font--cross -->

<!-- Start: @icon-font--marker -->

        <div style="margin-bottom:20px;">
            <p style="margin-bottom:5px;">
                icon-font--marker
            </p><i class="o-icon-font o-icon-font--am-marker" aria-hidden="true"></i>
        </div>
<!-- End: @icon-font--marker -->

<!-- Start: @icon-font--search -->

        <div style="margin-bottom:20px;">
            <p style="margin-bottom:5px;">
                icon-font--search
            </p><i class="o-icon-font o-icon-font--am-search" aria-hidden="true"></i>
        </div>
<!-- End: @icon-font--search -->

<!-- Start: @icon-font--target -->

        <div style="margin-bottom:20px;">
            <p style="margin-bottom:5px;">
                icon-font--target
            </p><i class="o-icon-font o-icon-font--am-target" aria-hidden="true"></i>
        </div>
<!-- End: @icon-font--target -->

<script src="http://localhost:2222/resources//js/main.js"></script>
</body>
</html>

