

<!--suppress ALL (Suppresses all IDE warnings, DO NOT INCLUDE IN PRODUCTION!) -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>extension FE-builder</title>
    <!--link rel="stylesheet" href="http://localhost:2222/resources//css/main.css"-->
</head>
<body>
<!-- search in list -->
<div class="am-form__group">
    <label class="am-form__label u-accessibility" for="filterPlaces">
        Suchbegriff eingeben
    </label>
    <div class="am-form__input-container">
        <input id="input-text-1" name="filterPlaces" type="search" placeholder="Suchbegriff eingeben"
               class="am-form__input">
        <button id="btnResetPlacesFilter" class="am-button am-button--icon-only am-button--reset"
                aria-label="Zurücksetzen" type="button" value="reset" title="Filter zurücksetzen" disabled>
            <span>Filter zurücksetzen</span>
            <i class="o-icon-font o-icon-font--am-cross" aria-hidden="true"></i>
        </button>
    </div>
</div>

<script src="http://localhost:2222/resources//js/main.js"></script>
</body>
</html>

