

<!--suppress ALL (Suppresses all IDE warnings, DO NOT INCLUDE IN PRODUCTION!) -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>extension FE-builder</title>
    <!--link rel="stylesheet" href="http://localhost:2222/resources//css/main.css"-->
</head>
<body>
<!-- option filter as checkbox -->
<div class="am-option-filter">
    <div class="am-form__group ">
        <label class="am-form__label " for="optionFilter">
            Filter per checkboxes
        </label>

            <div class="am-form__tag">
                <input id="input-checkbox-Option 1" type="checkbox" name="optionFilterCheckbox">
                <label tabindex="0" for="input-checkbox-Option 1">Option 1</label>
            </div>
            <div class="am-form__tag">
                <input id="input-checkbox-Option 2" type="checkbox" name="optionFilterCheckbox">
                <label tabindex="0" for="input-checkbox-Option 2">Option 2</label>
            </div>
            <div class="am-form__tag">
                <input id="input-checkbox-Option 3" type="checkbox" name="optionFilterCheckbox">
                <label tabindex="0" for="input-checkbox-Option 3">Option 3</label>
            </div>
    </div>
</div>

<script src="http://localhost:2222/resources//js/main.js"></script>
</body>
</html>

