

<!--suppress ALL (Suppresses all IDE warnings, DO NOT INCLUDE IN PRODUCTION!) -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>extension FE-builder</title>
    <!--link rel="stylesheet" href="http://localhost:2222/resources//css/main.css"-->
</head>
<body>
<!-- google location suggest input -->
<div class="am-location-search">
    <div class="am-form__group">
        <label class="am-form__label" for="radialSearch1">
            Ort/PLZ/Adresse
        </label>
        <div class="am-form__input-container">
            <input id="locationSearch1" class="am-form__input am-form__input--location" name="locationSearch1" placeholder="Geben sie einen Ort ein"
                   type="text">

            <button class="am-button am-button--icon-only am-button--location js-am-location"
                    aria-label="Standort ermitteln" title="Standort ermitteln" type="button"
                    value="Standort ermitteln" title="Standort ermitteln">
                    <span>Standort ermitteln</span>
                    <i class="o-icon-font o-icon-font--am-target" aria-hidden="true"></i>
            </button>

            <button class="am-button am-button--icon-only"
                    aria-label="Suchen" title="Suchen" type="submit" value="submit" title="Suchen">
                    <span>Suchen</span>
                    <i class="o-icon-font o-icon-font--am-search" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>

<script src="http://localhost:2222/resources//js/main.js"></script>
</body>
</html>

