$white: #fff;

$p-text-color: #095986;

$box-bg-color: #fff;
$box-mark-blue: #095986;
$box-mark-white: #fff;

$primary-gradient: transparent linear-gradient(270deg, #F49B43 0%, #E8B54C 100%) 0% 0% no-repeat padding-box; // transparent linear-gradient(270deg, #99D070 0%, #00A094 100%) 0% 0% no-repeat padding-box;
$secondary-gradient: transparent linear-gradient(180deg, #39B7B1 0%, #226996 100%) 0% 0% no-repeat padding-box;

$primary-color: #F7BB3C;

$gray-gradient: transparent linear-gradient(90deg, #3D4446 0%, #83959A 100%) 0% 0% no-repeat padding-box;
$gray-gradient-left-bright: transparent linear-gradient(270deg, #3D4446 0%, #83959A 100%) 0% 0% no-repeat padding-box;

$shadow-xl: 0 0 30px 0 rgba(0, 0, 0, .1); // table
$shadow-m: 3px 3px 3px 3px rgba(0, 0, 0, .1); // table
