$button-font-family: inherit;
$button-font-size: 1rem;
$button-line-height: 2.5;
$button-padding: 1em;
$button-size-small: .2rem;
$button-size-large: .2rem;
$button-transition: all .3s;
$button-group-space: 1rem;
$button-icon-only-size: 2rem;
$button-icon-size: 1.188rem;
$button-icon-font-size: 1.2rem;
