/* ==========================================================================
   User Interface Variables
   ========================================================================== */
$space: 1.3rem;

$focus-color: map-get($toolbox-colors, 'black');
$focus-style: dotted;
$focus-width: 3px;
$focus-outline: $focus-width $focus-style $focus-color;
