// sidebar trigger
$am-trigger-offset-top: 2rem;
$am-trigger-shadow: 3px 0 5px -3px rgba(map_get($toolbox-colors, 'webblack'), .5);
$am-trigger-size: 2.4rem;

// sidebar
$am-sb-bg: map_get($toolbox-colors, 'white');
$am-sb-inner-padding: 1rem;
$am-sb-shadow: 0 0 2rem rgba(map_get($toolbox-colors, 'webblack'), .5);
$am-sb-toggle-transition: .3s ease;
$am-sb-width: 320px;
$am-sb-width-sm: 360px;

// sidebar filter
$am-sb-bg-filter: map_get($toolbox-colors, 'light');

// sidebar footer
$am-sb-footer-height: 2rem;
$am-sb-footer-shadow: 0 0 .2rem rgba(map_get($toolbox-colors, 'webblack'), .1);
