.dynaTree {
    //    border: 1px solid red;

    &[id^="ajaxMapPlacesTree"] {
        position: absolute;
        top: 0;
        right: -120%;
        opacity: .6;

       [aria-selected="true"]{
            border: 10px solid red;
        }

        max-height: 100vh;
        overflow: scroll

    ;

    }

    &[id^="ajaxMapLocationTypesTree"] {

        display: block ;
    }

}
