// location input
.am-form__input--location {
    padding-right: $button-icon-only-size*2 !important;

    + .o-icon-font--am-search {
        color: app-color('light3');
        font-size: 1.2rem;
        height: 19px;
        width: 19px;
        @include absolute-center-right(1rem, 50%,.5rem, -50%);
    }
}

// navigator.location button
.am-button--location {
    right: $button-icon-only-size !important;

    &:after {
        background: $form-field-border-color;
        content: '';
        display: block;
        height: 70%;
        position: absolute;
        right: 0;
        top: 15%;
        width: 1px;
    }
}
