.c-ajax-map {
    height: 100vh;
    position: relative;

    &__map-wrapper {
        height: 100%;
        padding-left: 0;
        transition: padding-left  $am-sb-toggle-transition;

        .ajax-map--sb-is-open & {
            padding-left: $am-sb-width;
            transition: padding-left $am-sb-toggle-transition;
        }
    }

    &__map {
        height: 100% !important;
        width: 100% !important;
    }
}
