.am-results {
    .fancytree-container {
        border: none;
        padding: 0 1rem;
        position: relative;
        z-index: 0;

        li + li {
            margin-top: -1px;
        }
    }

    .fancytree-node {
        margin: 0;
    }

    .fancytree-expander {
        display: none;
    }
}
