// sidebar
.am__sb {
    background: $am-sb-bg;
    box-shadow: $am-sb-shadow;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    transition: transform $am-sb-toggle-transition;
    width: $am-sb-width;

    .ajax-map--sb-is-open & {
        transform: translateX(0);
        transition: transform $am-sb-toggle-transition;
    }

    &__filter {
        background: $am-sb-bg-filter;
    }
}
