// sidebar
.am__sb {
    background: $am-sb-bg;
    box-shadow: $am-sb-shadow;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    transition: transform $am-sb-toggle-transition;
    width: $am-sb-width;

    .ajax-map--sb-is-open & {
        transform: translateX(0);
        transition: transform $am-sb-toggle-transition;
    }

    // reset filter area
    &__footer {
        align-items: center;
        background: app-color('white');
        bottom: 0;
        box-shadow: $am-sb-footer-shadow;
        display: flex;
        height: $am-sb-footer-height;
        justify-content: center;
        position: absolute;
        width: 100%;

        .am-link {
            @include reset-button();
            color: $link-color;
        }
    }

    &__msg {
        padding: $am-sb-inner-padding 0;
    }

    &__scroll-wrapper {
        overflow-y: scroll;

        /* width */
        &::-webkit-scrollbar {
            width: 5px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: app-color('light');
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: app-color('primary');
        }
    }
}
