<!-- search in list -->
<div class="am-form__group">
    <label class="am-form__label u-accessibility" for="filterPlaces">
        Suchbegriff eingeben
    </label>
    <div class="am-form__input-container">
        <input id="input-text-1" name="filterPlaces" type="search" placeholder="Suchbegriff eingeben"
               class="am-form__input">
        <button id="btnResetPlacesFilter" class="am-button am-button--icon-only am-button--reset"
                aria-label="Zurücksetzen" type="button" value="reset" title="Filter zurücksetzen" disabled>
            <span>Filter zurücksetzen</span>
            <i class="o-icon-font o-icon-font--am-cross" aria-hidden="true"></i>
        </button>
    </div>
</div>
