<!-- search in list -->
<div class="c-form__group">
    <label class="c-form__label u-accessibility" for="filterPlaces">
        Suchbegriff eingeben
    </label>
    <div class="c-form__input-container">
        <input id="input-text-1" name="filterPlaces" type="search" placeholder="Suchbegriff eingeben"
               class="c-form__input">
        <button id="btnResetPlacesFilter" class="c-button  c-button--icon-only u-icon u-icon--loupe"
                aria-label="Zurücksetzen" title="Zurücksetzen" type="button" value="reset">
            reset filter
        </button>
    </div>
</div>
