<div class="am__sb__msg">
    {{#if msg}}
        <h4 class="am__sb__msg__title">
            {{msg}}
        </h4>
    {{/if}}
    {{#if copy}}
        <p class="am-p-light">
            {{copy}}
        </p>
    {{/if}}
    {{#if copy2}}
        <p class="am-p-light">
            {{copy2}}
        </p>
    {{/if}}
    {{#if resetFilter}}
        <button class="am-button am-button--ghost" type="reset">Filterung zurücksetzen</button>
    {{/if}}
</div>
