<div class="am__sb__msg">
    <p>
        <strong>{{msg}}</strong>
    </p>
    {{#if copy}}
    <p class="am-p-light">
        {{copy}}
    </p>
    {{/if}}
    {{#if copy2}}
    <p class="am-p-light">
        {{copy2}}
    </p>
    {{/if}}
    {{#if resetFilter}}
        <button class="am-button am-button--ghost" type="reset">Filterung zurücksetzen</button>
    {{/if}}
</div>
