<div class="c-option-filter">
    <div class="c-form__group ">
        <label class="c-form__label " for="optionFilter">
            {{label}}
        </label>

        <div class="c-form__input-container">
            <select id="optionFilter" name="optionFilter" class="c-form__input">
                <option value="" disabled="" selected="">Option wählen ...</option>
                {{#options}}
                    <option value="{{value}}">{{label}}</option>
                {{/options}}
            </select>
            <div class="c-form__select-arrow" aria-hidden="true"></div>
        </div>
    </div>
</div>
