<!-- option filter as checkbox -->
<div class="am-option-filter">
    <div class="am-form__group ">
        <label class="am-form__label " for="optionFilter">
            {{label}}
        </label>

        {{#options}}
            <div class="am-form__tag">
                <input id="input-checkbox-{{id}}" type="checkbox" name="optionFilterCheckbox">
                <label tabindex="0" for="input-checkbox-{{id}}">{{label}}</label>
            </div>
        {{/options}}
    </div>
</div>
