<div class="c-radial-search">
    <div class="c-form__group ">
        <label class="c-form__label " for="radialSelect">
            {{label}}
        </label>

        <div class="c-form__input-container">
            <select id="radialSelect1" name="radialSelect1" class="c-form__input">
                <option value="" disabled="" selected="">Umkreis wählen ...</option>
                {{#options}}
                    <option value="{{value}}">{{label}}</option>
                {{/options}}
            </select>
            <div class="c-form__select-arrow" aria-hidden="true"></div>
        </div>
    </div>
</div>
