<!-- google location suggest input -->
<div class="am-location-search">
    <div class="am-form__group">
        <label class="am-form__label u-accessibility" for="radialSearch1">
            {{label}}
        </label>
        <div class="am-form__input-container">
            <input id="locationSearch1" class="am-form__input" name="locationSearch1" placeholder="{{placeholder}}"
                   type="text">

            <button class="am-button am-button--icon-only"
                    aria-label="Standort ermitteln" title="Standort ermitteln" type="button"
                    value="Standort ermitteln">
                    <span>Standort ermitteln</span>
                    <i class="o-icon-font o-icon-font--am-target" aria-hidden="true"></i>
            </button>

            <button class="am-button am-button--icon-only"
                    aria-label="Suchen" title="Suchen" type="submit" value="submit">
                    <span>Senden</span>
                    <i class="o-icon-font o-icon-font--am-search" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>
