<!-- find location -->
<div class="c-radial-search">
    <div class="c-form__group">
        <label class="c-form__label u-accessibility" for="radialSearch1">
            {{label}}
        </label>
        <div class="c-form__input-container">
            <input id="radialSearch1" class="c-form__input" name="radialSearch1" placeholder="{{placeholder}}"
                   type="text">
            <button class="c-button  c-button--icon-only u-icon u-icon--target"
                    aria-label="Standort ermitteln" title="Standort ermitteln" type="button"
                    value="Standort ermitteln">
            </button>
            <button class="c-button  c-button--icon-only u-icon u-icon--loupe"
                    aria-label="Suchen" title="Suchen" type="submit" value="submit">
            </button>
        </div>
    </div>
</div>
