<!-- google location suggest input -->
<div class="c-location-search">
    <div class="c-form__group">
        <label class="c-form__label u-accessibility" for="radialSearch1">
            {{label}}
        </label>
        <div class="c-form__input-container">
            <input id="locationSearch1" class="c-form__input" name="locationSearch1" placeholder="{{placeholder}}"
                   type="text">

            <button class="c-button  c-button--icon-only u-icon u-icon--target"
                    aria-label="Standort ermitteln" title="Standort ermitteln" type="button"
                    value="Standort ermitteln">Standort ermitteln
            </button>

            <button class="c-button  c-button--icon-only u-icon u-icon--loupe"
                    aria-label="Suchen" title="Suchen" type="submit" value="submit">Send
            </button>
        </div>
    </div>
</div>
