<label for="title">
	<f:translate key="tx_ajaxmap_domain_model_location.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="title" /><br />
<label for="latitude">
	<f:translate key="tx_ajaxmap_domain_model_location.latitude" />
</label><br />
	<f:form.textfield property="latitude" /><br />
<label for="longitude">
	<f:translate key="tx_ajaxmap_domain_model_location.longitude" />
</label><br />
	<f:form.textfield property="longitude" /><br />
<label for="description">
	<f:translate key="tx_ajaxmap_domain_model_location.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />