<table class="tx-ajaxmap" >
	<tr>
		<td>
			<f:translate key="tx_ajaxmap_domain_model_location.title" />
		</td>
		<td>
			{location.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ajaxmap_domain_model_location.latitude" />
		</td>
		<td>
			{location.latitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ajaxmap_domain_model_location.longitude" />
		</td>
		<td>
			{location.longitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ajaxmap_domain_model_location.description" />
		</td>
		<td>
			{location.description}
		</td>
	</tr>
</table>