<script type="text/javascript"><![CDATA[
	if(typeof mapStore === "undefined") {
		var mapStore = [];	
	}
	if(typeof regionStore === "undefined") {
		var regionStore = [];
	}
	if(typeof categoryTreeStore === "undefined") {
		var categoryTreeStore = [];
	}
	var pageId = ]]>{pid}<![CDATA[;
	currId = ]]>{settings.map}<![CDATA[;
	locationTypes = [];
	markerArr = [];]]>
	<f:for each="{map.locationTypes}" as="locationType">
		<![CDATA[
			locationTypes.push(
				{
					"key":]]>{locationType.uid}<![CDATA[,
					"title": ']]>{locationType.title}<![CDATA[',
					"description": ']]>{locationType.description}<![CDATA[',
					"icon": ']]>{locationType.icon}<![CDATA['
				}
			);
		]]>
	</f:for>
	var mapSettings = {
		"id": currId,
		"map": "",
		"regions": "",
		"kmlLayer": "",
		"placeGroups": "",
		"locationTypes": locationTypes,
		"infoWindow": "",
		"places": "",
		"marker": markerArr,
		"settings": {
			"regionTree" : {
				minExpandLevel: 3,
				selectMode: 3, //1: single, 2: multi, 3: multi hierarchical
				icons: false,
				checkbox: true,
				extensions: ["filter"],
				filter: {
					autoApply: true,
					mode: "hide"
				}
			},
			"categoryTree" : {
				icons: false,
				extensions: ["filter"],
				filter: {
					autoApply: true,
					mode: "hide"
				}
			},
			"placeGroupTree" : {
				icons: false,
				extensions: ["filter"],
				filter: {
					autoApply: true,
					mode: "hide"
				}
			},
			"locationTypeTree": {
				checkbox: true,
				selectMode: 1,
				extensions: ["filter"],
				filter: {
					autoApply: true,
					mode: "hide"
				}
			}
		}
	};
	mapStore.push(mapSettings);
	regionStore.push({"id": currId}); 
	categoryTreeStore.push({"id": currId})
</script>
