<label for="title">
	<f:translate key="tx_ajaxmap_domain_model_map.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="title" /><br />
<label for="width">
	<f:translate key="tx_ajaxmap_domain_model_map.width" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="width" /><br />
<label for="height">
	<f:translate key="tx_ajaxmap_domain_model_map.height" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="height" /><br />
<label for="centerLatitude">
	<f:translate key="tx_ajaxmap_domain_model_map.center_latitude" />
</label><br />
	<f:form.textfield property="centerLatitude" /><br />
<label for="centerLongitude">
	<f:translate key="tx_ajaxmap_domain_model_map.center_longitude" />
</label><br />
	<f:form.textfield property="centerLongitude" /><br />