<table class="tx-ajaxmap" >
	<tr>
		<td>
			<f:translate key="tx_ajaxmap_domain_model_map.title" />
		</td>
		<td>
			{map.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ajaxmap_domain_model_map.type" />
		</td>
		<td>
			{map.type}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ajaxmap_domain_model_map.width" />
		</td>
		<td>
			{map.width}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ajaxmap_domain_model_map.height" />
		</td>
		<td>
			{map.height}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ajaxmap_domain_model_map.map_center" />
		</td>
		<td>
			{map.mapCenter}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ajaxmap_domain_model_map.initial_zoom" />
		</td>
		<td>
			{map.initialZoom}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ajaxmap_domain_model_map.map_style" />
		</td>
		<td>
			{map.mapStyle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ajaxmap_domain_model_map.disable_default_ui" />
		</td>
		<td>
			{map.disableDefaultUi}
		</td>
	</tr>
</table>