.c-story-container {
    z-index: 0;
    transition: opacity .4s;

    * {
        //font-size: $font-size/2;
        //line-height: $line-height/2;
        font-family: 'bundessansregular';
    }
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.c-chapter {
    position: relative;
}

#navbar-collapse-grid[aria-expanded="false"] {
    min-height: $offset !important; //breaks iphone
}

.breadcrumb {
    display: none;
}
