.c-teaser-box {
    background: $gray-gradient;
    color: $white;
    max-width: 640px;

    img {
        width: 100%;
        height: auto;

    }

    .text-content {
        padding: $default-distance;
        background: $gray-gradient;

        .c-title {
            @extend b;
        }
    }
}
