@mixin mark-box($color) {
    margin-top: 70vh;

    $mark-height: 1rem*.75;
    position: relative;

    &:before {
        background-color: $color;
        content: '';
        display: inline-block;
        height: $mark-height;
        position: absolute;
        top: -$mark-height/2;
        width: 12%;
        min-width: $default-distance*2;
    }
}

.c-text-box {
    background-color: $box-bg-color;
    padding: $default-distance; //30px;// 30px 7px 30px;

    &.bold {
        @include bold();
    }

    em {
        @include bold();
        background: $primary-gradient
    }

    &.ghost {
        background-color: transparent;
    }

    &.span {
        span {
            background-color: $white;
            line-height: 2;
            padding: $element-sitance-2 $element-sitance-3;
        }
    }

    &.mark {
        &-blue {
            @include mark-box($box-mark-blue);
        }

        &-white {
            @include mark-box($box-mark-white);
        }

        &-orange {
            @include mark-box($primary-color);
        }
    }

    &.quote {
        @include quote-box();
    }

    &--title {

    }
}
