<div class="c-radial-search" style="display:none">
    <select name="radial" id="radialSelect">
        {{#options}}
            <option value="{{value}}">{{label}}</option>

        {{/options}}

    </select>
</div>
