<div class="c-radial-search">

    <label for="radialSearch1">{{label}}</label>

    <input type="text" name="radialSearch1" id="radialSearch1"
        minlength="4" maxlength="8" size="10" placeholder="{{placeholder}}">
</div>
