<h1>Example for using Vector files (SVG's).</h1>
<p>Vector files can be included by two different Methods:</p>
<div class="c-vectors-example">
    <div class="c-vectors-example__col">
        <span style="display: block; text-align: center; font-size: 3rem;" class="u-icon-font u-icon-font--css"></span>
        <h2>As Background Image with CSS</h2>
        <div class="c-vectors-example__item c-vectors-example__item--css"></div>
    </div>
    <div class="c-vectors-example__col">
        <span style="display: block; text-align: center; font-size: 3rem;" class="u-icon-font u-icon-font--html"></span>
        <h2>As Inline Element with Fractal</h2>
        <div class="c-vectors-example__item c-vectors-example__item--fractal">
            {{{ vectors.gitlab-icon }}}
        </div>
    </div>
</div>

<p><b>In addition to the described ways above, you can also use simple svg icons as icon font. Take a look at
    "_utilities.icon-font.scss" for more.</b></p>

