<div class="am-card">
    <!-- if organisation seo -->
    <!--script type="application/ld+json">
    breaks the string?
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "Title",
            "url": "#",
            "logo": "https://via.placeholder.com//80x80"
        }
    </script!-->
    <!-- logo or profile image todo @EHO default image for profile or company-->
    <div class="am-card__img is-outlined">
        <img src="${placeData.address.firstImage}" alt="${placeData.address.fullName}">
    </div>
    <div class="am-card__copy">
        <header class="am-card__copy__head">
            <h3 class="am-card__title u-typo:m u-typo:bold">${placeData.title}</h3>
            <span class="am-card__subtitle">${placeData.locationType.title}</span>
        </header>

        <address class="am-card__info am-card__info--w-icon">
            <i class="o-icon-font o-icon-font--consultant" aria-hidden="true"></i>
            <span>${placeData.address.address}</span><br>
            <span>${placeData.address.zip} ${placeData.address.city}</span>
        </address>
        <a href="${placeData.address.profileLink}" class="am-card__detail-link c-link u-icon u-icon:left u-icon--triangle-right">
            zum Profil
        </a>
    </div>

    <a href="#" class="am-card__block-link js-am-jt-marker">Anchor map</a>
</div>
