
.c-chapter--A {
    height: 100vh*1.2;

    .o-fixed-container {
        .o-bg-img {
            background-position: top;
            background-repeat: no-repeat;
            background-size: cover;
            //height: calc(100vh - #{$offset});
            //top: $offset;

            @include breakpoint(sm) {
                //  height: calc(100% - #{$nav-height});
               // top: $nav-height;
            }
        }

        /* .bg {
             background: $primary-gradient;
             content: '';
             display: block;
             height: 120vh;
             left: 0;
             margin-top: -20vh;
             position: inherit;
             top: 0;
             width: 100vw;
             z-index: -1;
         }*/

        .text-container {
            margin-top: 12vh;

            @include breakpoint(sm) {

                align-self: flex-start;
            }

            .c-text-box--title {

                @include breakpoint(sm, md) {
                    float: right;
                    width: 100%;
                    max-width: 50%;

                    span {
                        text-align: right !important;
                    }
                }

                //border: 3px solid palegreen;;
                span {
                    @include bold();
                    color: $white;
                    display: block;
                    font-weight: bold;
                    line-height: 1;
                    text-shadow: 1px 1px 6px rgba(0, 20, 0, .3);
                    text-transform: uppercase;

                    $min_width: 320px;
                    $max_width: 1200px;
                    $min_font: 48px; //font-size(xl)*5;
                    $max_font: 104px;
                    @include fluid-type($min_width, $max_width, $min_font, $max_font);

                    &:nth-of-type(1) {
                        text-align: center;
                    }

                    &:nth-of-type(2) {
                        text-align: right;
                    }
                }
            }
        }
    }

    .container.opener {
        margin-top: 54vh;
        // border: 10px solid transparent;
    }

    #openerBox {
        .c-text-box {
            margin-top: 0;
        }
    }

    .pattern-image {
        background-position: right bottom;
        bottom: 10vh;
        height: 45vh;
        position: absolute;
        right: 0;
        width: 80%;
    }

    [data-anchor-id] {
        position: absolute;
        width: 100%;
        z-index: 11;

        &[data-anchor-id="c-A-pattern"] {
            bottom: 40vh;
        }
        &[data-anchor-id="orange-bg"] {
            top: 0;
            height: 80vh;
        }
    }
}
