
.c-chapter--B {
    height: 100vh*1.6;

    svg{
        margin:$element-sitance-3 0;
    }

    &:after {

        body[data-in-b="true"] & {
            position: absolute;
            top: 90%;
            content: '';
            left: 0;
            width: 100vw;
            height: 70%;
            background-image: linear-gradient(rgba(0, 0, 0, 0), #fff 40%);
            @include grid-release();
        }

    }

    .o-bg-img {
        background-position: right;

        @include bp(md) {
            background-position: center;
        }
    }

    #c2-text1 {
        margin-top: -10vh;

    }

    #c2-text2 {
        margin-top: 30vh;
    }

    #c2-proxy-text {
        // position: fixed;
        z-index: 1;

        .c-text-box {
            transition: transform 1.5s;
            margin-top: -30vh;
            transform: translateY(70vh);
            body[data-in-b="false"] & {
                transform: translateY(0vh);
            }
        }
    }

    [data-anchor-id] {
        width: 100%;
        position: absolute;
        visibility: hidden;

        &[data-anchor-id="c2-trigger-image"] {
            top: 5%;
            height: 77%;
        }

        &[data-anchor-id="c2-trigger-proxy"] {
            //  top: 65%;

            height: 90%;
        }
    }

}
