
.c-chapter--C {
    height: 100vh*3;

    @include breakpoint(md) {
        height: 100vh*4;
    }

    .bg-box {
        position: fixed;
        left: 0;
        width: 100vw;
        height: 100vh;
        top: 24vh;

        .o-fixed-container {
            background: $gray-gradient;
        }
    }

    #c-C-title {
        opacity: 0;
        position: fixed;
        top: $nav-height-mobile;
        transition: transform 1s;

        @include breakpoint(md) {
            top: $nav-height;
        }

        &.aos-animate {
            opacity: 1;
            transform: translateY(-2em);

            .c-text-box {
                @include breakpoint(md) {
                    transform: translateY(-4em);
                }
            }
        }

        .c-text-box {
            transform: translateY(0);
        }

        .c-title {
            font-family: "bundessansbold" !important;
            font-size: font-size(xxl);

            @include breakpoint(md) {
                font-size: font-size(xxxl);
            }

        }

        @include breakpoint(0, md) {
            width: 83.3%;
            margin-left: calc(8.3%);
        }
    }

    #c3-video {
        top: 27vh;
        position: fixed;
        z-index: 2;
        top: $nav-height-mobile*2;

        @include breakpoint(md) {
            top: $nav-height*1.2;
        }

        @include breakpoint(0, sm) {
            margin-left: 0;

        }

        @include breakpoint(sm, md) {
            margin-left: calc(8.3%);

        }

        @include breakpoint(md) {
            width: 883.33px;
            margin-left: calc(88px - 5px);
        }

        .video-wrapper {
            text-align: center;

            video {
                max-height: 60vh;
                width: auto;
                max-width: 100%;
                border: none;
                box-shadow: $shadow-xl;
            }

        }
    }

    #c-D-title-box2 {
        text-shadow: 1px 1px 6px rgba(0, 20, 0, .3);
        visibility: hidden;
        position: absolute;
          bottom: -4vh;

        .row-z {
            z-index: 3;
        }

        @include bp(0, sm) {
            bottom: 0;
        }

        &.aos-animate {
            visibility: visible;
        }

        .c-text-box h2 {
            margin-top: -40vh;
            color: $white;
            width: auto;
            font-family: bundessansbold !important;
        }
    }

    .pattern-image {
        @include grid-release();
        background-position: right bottom;
        height: 80vh;
        top: 90%;
        width: 100%;
    }

    [data-anchor-id] {
        position: absolute;
        visibility: hidden;

        &[data-anchor-id="gray-box"] {
            top: 24%;
            height: 85%;
        }

        &[data-anchor-id="c-C-show-title"] {
            top: 20%;
            height: 34%;
        }

        &[data-anchor-id="c3-video-show"] {
            top: 24%;
            height: 45%;
        }

        &[data-anchor-id="c-D-trigger-title2"] {
            top: 78%;
            height: 12%;
            min-height: 40vh;
        }

        &[data-anchor-id="c-chapter-end"] {
            bottom: 0;
        }
    }
}
