.c-chapter--E {
    height: 100vh*2.4;

    // margin: 120vh 0;

    .container {
        margin-top: 40%;

        @include bp(md) {
            display: flex;
            justify-content: center;
            align-self: center;
        }
    }

    #cEVideo {
        cursor: pointer;
        @include bp(0, sm) {
            margin-top: 28vh;
        }

        .c-video {
            box-shadow: $shadow-xl;
            width: 100%;

            @include bp(md) {
                width: 620px;
            }
        }
    }

    #cETextBox1 {
        font-size: font-size(xl);

    }

    #cETextBox2 {
      .c-text-box{
          margin-top:40vh;
      }

    }

    .d-bg-image {
        width: 100vw;
    }

    .o-bg-img {
        width: 50%;

    }

    [style*="mexiko"] {
        left: 0;
        background-size: contain;
        height: 50vh;
    }

    [style*="kovoso"] {
        margin-top: 50vh;
        background-size: contain;
        height: 50vh;
        left: 0;
    }

    [style*="phillippinen"] {
        right: 0;
        background-position: right;
        top: 20%;
        background-size: contain;
        height: 60vh;
    }

}
