
.c-chapter--I {
    //  padding-bottom: 200px;

    .o-fixed-container {

        .o-bg-img.bg {
            background: $gray-gradient-left-bright;
        }

        .o-bg-img.pattern {
            left: 0;
            right: inherit;
            //  width: 100vh;
            transform: rotate(90deg);
        }

        .o-bg-img.spahn {
            background-size: contain;
        }

    }

    #c-I-textBoxBig {
        font-size: font-size(xl);

        span {
            display: block;
            font-family: "bundessansbold" !important;
            line-height: 1.2;

            @include bp(0, sm) {
                //background: $gray-gradient-left-bright;
                padding: $element-sitance-2;
                text-shadow: $shadow-xl;
            }

            &.aos-animate {
                visibility: visible;
            }

            &:nth-of-type(2) {
                text-align: center;
            }
            &:nth-of-type(3) {
                text-align: right;
            }
            &:nth-of-type(4) {
                text-align: center;
            }
        }
    }

    .c-text-box {
        color: $white;

    }

    #c-I-textbox-1 {

        .c-text-box {
            margin-top: 0vh;
        }
    }

    #c-I-textBoxSmall {
        text-shadow: 1px 1px 6px rgba(0, 20, 0, .3);
        font-size: font-size(xxl);
        margin-top: 10vh;
        padding-bottom: $element-sitance-3;

    }

}


